---
import "normalize.css/normalize.css";
import "../styles/global.sass";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/FriendGroupIcon (100x100).png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fren Gaming</title>
  </head>
  <body>
    <h1>fren gaming</h1>
    <p>this is in pogress</p>
    <img
      src="https://media.discordapp.net/stickers/1037262922038128640.webp?size=1024"
      alt="a pog image"
    />
    <p>
      made by <a href="https://nootsponge.com" rel="author">your goo friend</a> 🖤💜
    </p>
  </body>
</html>
